// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

$concord-color: #37AA9C;
$concord-color-opaque: rgba(55,170,156,0.7);
$concord-black: #1A1A1B;
$concord-dark-gray: #333F44;
$concord-light-green: #94F3E4;
