<div class="jumbotron">
  <div class="container">
    <h1>Try again!</h1>
    <p>Sorry we were not able to recognize your search. Concord is working hard to be able to answer all your questions. Our algorithm gets smarter with every new question so please keep asking!</p>
  </div>
</div>
<br><br>
