<div class="main-wrapper">
  <div class="home-page-banner">
  <div class="home-page-content">
    <h1>El Banco Móvil</h1>
    <h3>Una cuenta de banco en 10 minutos</h3>
    <br>
    <%= link_to "Abre tu cuenta!", "#", class: "btn btn-concord-bg" %>
  </div>
  <div class="home-page-image">
    <%= image_tag "card-sample.png" %>
  </div>
  </div>
</div>
