<div class="home-page-wrapper" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.7) 0%, rgba(0,36,61,0.4) 50%), url(<%= image_path 'bg.JPG' %>);">
  <div class="home-page-content">
  <h1 class="text-center">Intelligent Financial Assistant<br>for you and your customers</h1>
  </div>
  <div class="home-page-image">
    <%= link_to "See how it works", "#", class: "btn btn-concord-bg" %>
  </div>
</div>
